#company{
background-image: linear-gradient(to right, blue, black);
font-family: cambria; 
}
#frist {
  
   font-style: italic;
    float:right;
}
h3{
    text-align: center;
}

#solgan{
    background-color: #66B2FF; 
}
#clean{
    border-style: solid;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

 
}

a:hover {
 background-color: darkblue;
    text-decoration-color: white;
}
nav ul li {
 list-style: none;
}
nav ul li {
 list-style: none;
 display: inline;
 margin: 1em;
}
li{
    text-decoration-color: snow;
}
nav {
 padding: 0.25em;
}
nav a {
 padding: 0.25em;
}
 .foot{
    background-color: #66B2FF;
    color: white;
}
ul{
    text-decoration-color: blue;
}
a:visited{
    color:white;
}
 .foot{
    background-color:  #66B2FF;
    color: white;
}

/*
.frame {
    width: 300px;
    height: 200px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  }
  img {width: 100%}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  .img-container {
    text-align: center;
    display: block;
  }
  .element {
    object-fit: fill;
}
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 5px;
  }
*/
  
  .image-with-text {
    width:200px;
    height:200px;
    
  }
  .row{
    margin: 20px auto;
  
    width:400px;
    height:400px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   } .form{
      background-color:#333;
      padding:20px;
      border-radius:10px;
      color:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:40px;
      font-family:sans-serif;
      
  
  }

  .main {
    align-content: center;
  }


  .center {
    margin: auto;
    width: 66%;
    border: 5px solid #1b18c9;
    padding: 15px;
  }
a[traget="href"]{
        background-color: #3F00FF;
        border-radius: 0.2em;
    }