#company{
background-image: linear-gradient(to right, white, blue);
background-color: #cccccc;
height: 71px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
font-size: 30px; 
font-family: cambria; 
}
#frist {
   background-color: #ADD8E6;
   font-style: italic;
}
a:hover {
 background-color: black;
}
nav ul li {
 list-style: none;
}
nav ul li {
 list-style: none;
 display: inline;
 margin: 1em;
}
nav {
 padding: 0.25em;
}
nav a {
 padding: 0.25em;
}
a:visited{
    color:white;
}
a[traget="href"]{
    background-color: blue;
}
 .foot{
    background-color:  #66B2FF;
    color: white;
}

/*
.frame {
    width: 300px;
    height: 200px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  }
  img {width: 100%}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  .img-container {
    text-align: center;
    display: block;
  }
  .element {
    object-fit: fill;
}
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 5px;
  }
*/
  
  .image-with-text {
    width:200px;
    height:200px;
    
  }
  .row{
    margin: 20px auto;
  
    width:400px;
    height:400px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   } .form{
      background-color:#333;
      padding:20px;
      border-radius:10px;
      color:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:40px;
      font-family:sans-serif;
      
  
  }

  .main {
    align-content: center;
  }


  .center {
    margin: auto;
    width: 66%;
    border: 5px solid #1b18c9;
    padding: 15px;
  }
