#company{
background-image: linear-gradient(to right, blue, black);
font-family: cambria; 
}
#frist {
  
   font-style: italic;
    float:right;
}
h3{
    text-align: center;
}

#solgan{ 
    background-color: #66B2FF;
}
#clean{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

 
}
a[traget="href"]{
        background-color: #3F00FF;
        border-radius: 0.2em;
    }
a:hover {
 background-color: darkblue;
    text-decoration-color: white;
}
nav ul li {
 list-style: none;
}
nav ul li {
 list-style: none;
 display: inline;
 margin: 1em;
}
li{
    text-decoration-color: snow;
}
nav {
 padding: 0.25em;
}
nav a {
 padding: 0.25em;
}
 .foot{
    background-color: #66B2FF;
    color: white;
}
ul{
    text-decoration-color: blue;
}
a:visited{
    color:white;
}

form{
    display: inline-block;
}

#inputCountry {
  width: 50%;
}

nav ul li {
 list-style: none;
}
nav ul li {
 list-style: none;
 display: inline;
 margin: 1em;
}
nav {
 padding: 0.25em;
}
nav a {
 padding: 0.25em;
}



#center{
    text-align: center;
}
.grid-container{
    display: flex;
    flex-wrap: wrap;

    background-color: DodgerBlue;
   margin-left: 200px;
  margin-right: 200px;  

}
form{
    width:50%;
}
#background{
    width:50%;
}
